.LatestNews{
    /* display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center; */
    height:60vh;
    margin-top:4rem;
    margin-bottom:5rem;
}

.LatestNews-header{
    display:flex;
    justify-content:center;
    gap:45rem;
    align-items:center;
    margin-left:2rem;
}


.LatestNews-header h2{
    font-size:2.5rem;
}

.LatestNews-btn{
    border:none;
    background-color: #E6692E;
    color:#FFFFFF;
    font-size:1.125rem;
    padding:0.625rem 1.125rem;
    border-radius:5px;
}

.LatestNews-Card{
    margin-left:2rem;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1.5rem;
  
}


@media (max-width: 480px){
    .LatestNews{
        margin-bottom:45rem;
    }
    .LatestNews-header{
        gap:5.9rem;
        margin-top:3rem;
       
    }
    .LatestNews-header h2{
        font-size:1.5rem;
    }
    .LatestNews-btn{
        background-color:#fff;
        color:#E6692E;
    }

    .LatestNews-Card{
        flex-wrap:wrap;
        margin-left:0;
    }
}